.currencies {
	min-height: 630px;

	&_hidden {
		opacity: 0;
	}
}

.table {
	&__row {
		border-radius: 1em;
	}
	&__col {
		background-color: #525252;
		width: 10%;
		padding: 0.5em;
		text-align: center;
		font-size: 1.2rem;
		color: #fff;
		font-weight: 600;
		border-radius: 2px;
		@media (max-width: 525.98px) {
			font-size: 1rem;
			font-weight: 500;
			padding: 0.2em;
		}
		@media (max-width: 401.98px) {
			font-size: 0.75rem;
		}
	}
}

.loader {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	width: 5em;
	color: #2074ff;
}

.error {
	position: relative;
	max-width: 320px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 800;
	color: #fff;
	background-color: red;
	text-align: center;

	padding: 0.3em;
	border-radius: 10px;
}
